.image{
    width: 500px;
}
.filtro{
    filter: blur(3px) grayscale(1);
}
.filtro:hover{
    filter:none;
    filter:brightness(3)
}

.filtro2{
    filter: contrast(5) opacity(56%) invert(100);
}
.filtro2:hover{
    filter:none;
    filter: brightness(3);
}
.filtro3{
    /* filter:sepia(80%) saturate(20%) brightness(30%); */
    filter:opacity(56%);
}

.filtro3:hover{
    border-radius: 50%;
    filter: sepia(80%) contrast(1) hue-rotate(150deg);
 }