/* etiqueta */
/* , = y */
article,h1{
    background-color: deepskyblue;
}
/* va a referencia a todos lo shijos article que tenga section, pero en cualquier nivel */
section article{
    border: 2px solid salmon;
}

/* a los hijos que esten en un primer nivel ">" primeros hijos, sin ">" para cualquier nivel dentro de "ul" */
ul > li{
  font-family: Arial;  
  color: limegreen;
}

nav > ul > ol > li {
    color: mediumblue;
}

/* .nombre_clase */
.titulo{
    color: red;
    text-decoration: underline;
}
.noticia{
    background-color: yellow;
}
.adicional{
    font-family: Impact;
}
/* #nombre_id, es unico, es el equivalente a un DNI */
#importante{
    background-color: yellowgreen;
    /* Solamente utilicen important en casos de mucha necesidad */
    text-decoration: overline !important;
}

/* Pseudoclases, condicional o estado*/
/* de las etiquetas de tipo tr vas a escoger las impares, odd = impar */
tr:nth-of-type(odd){
    background-color: lightskyblue;
}
/* de las etiquetas de tipo tr vas a escoger las impares, even = pares */
tr:nth-of-type(even){
    background-color: lightgreen;
}

/* a los párrafos, pero que sean los primeros de su tipo */
p:first-of-type{
    color: purple;
    font-weight: bold;
}
/* selector:nth-of-type(numero) el número referente según los hermanos del mismo que tenga ej
<li></li>
<li></li>
<li></li> <- 3! */
/* Aplicar solo a los hijos directos de "ol" */
ol>li:nth-of-type(3){
    font-style: italic;
    background-color: rebeccapurple;
    color: lightgray;
}

table, tr, td, th{
    border: 2px solid gray;
    border-collapse: collapse;/* collapse retira el borde */
}

/* nth-of-type(An) 
de los n elementos que hay, utiliza de cada 3*/
/*3*0=0
  3*1=3
  3*2=6
*/
/*li:nth-of-type(3n){
    color: tomato;
    background-color: palegreen;
}*/

/* nth-of-type(An+B), n comienza desde 0 y va aumentando*/
/*3*0+1=1
  3*1+1=4
  3*2+1=7
*/

li:nth-of-type(3n+1){
    color: tomato;
    background-color: palegreen;
}

footer li:hover{
    text-decoration: underline;
}

#btn{
    background-color: lightskyblue;
    color: white;
}
/* hover, va a aplicar cuando el mouse este encima del elemento */
#btn:hover{
    /* pointer = a una manito */
    cursor: pointer;
    background-color: blue;
}



